*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: 0;
}


header{
    width: 100%;
    padding: 30px;
    background-color: rgb(230, 204, 255);
}

header ul{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header ul a{
    color: black;
    padding: 5px 10px;
}